Json-Node_red
[
    {
        "id": "e2dace0cfe436922",
        "type": "tab",
        "label": "Controle Robô AGV",
        "disabled": false,
        "info": "Fluxo principal para controle e monitoramento do Robô AGV."
    },
    {
        "id": "a919aef2f1ad1d96",
        "type": "mqtt in",
        "z": "e2dace0cfe436922",
        "name": "MQTT In: Posição do Robô",
        "topic": "robo/posicao",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker_local",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 340,
        "wires": [
            [
                "cb8a6e67ee69f5eb",
                "5136551e267efd66"
            ]
        ]
    },
    {
        "id": "bc784f35d628ab45",
        "type": "mqtt in",
        "z": "e2dace0cfe436922",
        "name": "MQTT In: Alerta do Robô",
        "topic": "robo/alerta",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt_broker_local",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 400,
        "wires": [
            [
                "28fb320f91831116"
            ]
        ]
    },
    {
        "id": "5136551e267efd66",
        "type": "ui_text",
        "z": "e2dace0cfe436922",
        "group": "grupo_status",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "Dashboard: Posição Atual",
        "label": "Posição do Robô:",
        "format": "{{msg.payload.x}}, {{msg.payload.y}}",
        "layout": "row-spread",
        "color": "#000000",
        "x": 400,
        "y": 340,
        "wires": []
    },
    {
        "id": "28fb320f91831116",
        "type": "ui_text",
        "z": "e2dace0cfe436922",
        "group": "grupo_status",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "Dashboard: Alerta",
        "label": "⚠️ Alerta:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "color": "#000000",
        "x": 370,
        "y": 400,
        "wires": []
    },
    {
        "id": "cb8a6e67ee69f5eb",
        "type": "function",
        "z": "e2dace0cfe436922",
        "name": "Função: Valida Posição (0-10)",
        "func": "// Valida se as coordenadas x e y estão dentro dos limites [0, 10].\n// Se estiverem fora, envia um alerta para o dashboard (output 1).\n// Caso contrário, a mensagem original segue para o próximo nó (output 2).\n\nlet x = msg.payload.x;\nlet y = msg.payload.y;\n\nif (x < 0 || y < 0 || x > 10 || y > 10) {\n    msg.payload = \"Posição fora dos limites (0-10)!\";\n    return [msg, null]; // Envia o alerta para o primeiro output\n} else {\n    return [null, msg]; // Envia a mensagem original para o segundo output\n}",
        "outputs": 2,
        "noerr": 0,
        "x": 400,
        "y": 280,
        "wires": [
            [
                "28fb320f91831116"
            ],
            []
        ]
    },
    {
        "id": "09c69204802f31eb",
        "type": "mqtt out",
        "z": "e2dace0cfe436922",
        "name": "MQTT Out: Publica Comando",
        "topic": "robo/comando",
        "qos": "0",
        "broker": "mqtt_broker_local",
        "x": 830,
        "y": 160,
        "wires": []
    },
    {
        "id": "d7f0f2858e5171ed",
        "type": "ui_button",
        "z": "e2dace0cfe436922",
        "name": "Botão: Frente",
        "group": "grupo_controle",
        "order": 1,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": " Frente",
        "tooltip": "Move o robô para frente",
        "bgcolor": "#2e7d32",
        "icon": "fa-arrow-up",
        "payload": "frente",
        "payloadType": "str",
        "x": 210,
        "y": 100,
        "wires": [
            [
                "bbc9ad1efd8338cc"
            ]
        ]
    },
    {
        "id": "b60c6e7c5e1a4f8e",
        "type": "ui_button",
        "z": "e2dace0cfe436922",
        "name": "Botão: Ré",
        "group": "grupo_controle",
        "order": 4,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": " Ré",
        "tooltip": "Move o robô para trás (ré)",
        "color": "",
        "bgcolor": "#ef6c00",
        "className": "",
        "icon": "fa-arrow-down",
        "payload": "re",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 210,
        "y": 220,
        "wires": [
            [
                "bbc9ad1efd8338cc"
            ]
        ]
    },
    {
        "id": "170ccd5a232a4672",
        "type": "ui_button",
        "z": "e2dace0cfe436922",
        "name": "Botão: Esquerda",
        "group": "grupo_controle",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Esquerda",
        "tooltip": "Vira o robô para a esquerda",
        "bgcolor": "#0277bd",
        "icon": "fa-arrow-left",
        "payload": "esquerda",
        "payloadType": "str",
        "x": 80,
        "y": 160,
        "wires": [
            [
                "bbc9ad1efd8338cc"
            ]
        ]
    },
    {
        "id": "30d02ef1c688a3b7",
        "type": "ui_button",
        "z": "e2dace0cfe436922",
        "name": "Botão: Direita",
        "group": "grupo_controle",
        "order": 2,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Direita",
        "tooltip": "Vira o robô para a direita",
        "bgcolor": "#0277bd",
        "icon": "fa-arrow-right",
        "payload": "direita",
        "payloadType": "str",
        "x": 330,
        "y": 160,
        "wires": [
            [
                "bbc9ad1efd8338cc"
            ]
        ]
    },
    {
        "id": "9f2bf0fd95e88355",
        "type": "ui_button",
        "z": "e2dace0cfe436922",
        "name": "Botão: Parar",
        "group": "grupo_controle",
        "order": 5,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Parar",
        "tooltip": "Para o movimento do robô",
        "color": "#ffffff",
        "bgcolor": "#c62828",
        "icon": "fa-stop",
        "payload": "parar",
        "payloadType": "str",
        "x": 210,
        "y": 160,
        "wires": [
            [
                "bbc9ad1efd8338cc"
            ]
        ]
    },
    {
        "id": "bbc9ad1efd8338cc",
        "type": "function",
        "z": "e2dace0cfe436922",
        "name": "Função: Formata Comando",
        "func": "// Adiciona um timestamp ao payload do comando antes de publicá-lo.\nmsg.payload = {\n    comando: msg.payload,\n    timestamp: Date.now()\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 160,
        "wires": [
            [
                "09c69204802f31eb"
            ]
        ]
    },
    {
        "id": "mqtt_broker_local",
        "type": "mqtt-broker",
        "name": "Broker Local",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "grupo_status",
        "type": "ui_group",
        "name": "Status do Robô",
        "tab": "tela_principal",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "grupo_controle",
        "type": "ui_group",
        "name": "Controles",
        "tab": "tela_principal",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "tela_principal",
        "type": "ui_tab",
        "name": "Painel Supervisório",
        "icon": "dashboard",
        "order": 1
    }
]